@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$font-section: 'Bebas Neue', cursive;

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;

.text-c{text-align: center;}
.text-l{text-align: left;}
.text-r{text-align: right;}

.font-xs{
    font-size: $font-size-xs;
}

.font-s{
    font-size: $font-size-s;
}