.window-app {
  font-family: $font-primary;
}
.window-content{
  padding: 10px 25px  !important;
}
.window-content, .chat-message{
  background-image: url("../assets/background.jpg") !important;
  background-size: contain;
}

#combat-popout section{
  background-image: none !important;
}

[class*="rollable-"] {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}