<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="row-nw">
            <div class="col col-xs-3">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </div>
            <div class="col col-xs-9 padding-0">
                <div class="row-nw align-center">
                    <h1 class="charname col col-xs-12">
                        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                    </h1>
                </div>
                <div class="row-nw padding-t-10">
                    <label class="col col-xs-2 label-header" for="data.concepto">{{localize "Hitos.Concepto"}}</label>
                    <div class="col col-xs-10 input-header" data-edit="data.concepto" contenteditable="true">
                        {{{data.concepto}}}
                    </div>
                </div>
                <div class="row-nw padding-t-10">
                    <label class="col col-xs-2 label-header" for="data.motivacion">{{localize "Hitos.Motivacion"}}</label>
                    <div class="col col-xs-10 input-header" data-edit="data.motivacion" contenteditable="true">
                        {{{data.motivacion}}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs tabs-actor" data-group="primary">
        <a class="item" data-tab="bio">{{localize "Hitos.Bio"}}</a>
        <a class="item" data-tab="stats">{{localize "Hitos.Estadisticas"}}</a>
        <a class="item" data-tab="items">{{localize "Hitos.Inventario"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Biography Tab --}}
        <div class="tab bio" data-group="primary" data-tab="bio">
            <div class="section-header">
                <span>{{localize "Hitos.Biografia"}}</span>
            </div>
            {{editor content=data.biografia target="data.biografia" button=true
      owner=owner editable=editable}}
        </div>

        {{!-- Stats Tab --}}
        <div class="tab stats" data-group="primary" data-tab="stats">
            <div class="section-header">
                <span>{{localize "Hitos.HitosComplicaciones"}}</span>
            </div>
            <div class="grid-2col">
                <input class="input-header hito-disable" name="data.hito1.value" value="{{data.hito1.value}}"
                    type="text" placeholder="" />
                <input class="input-header hito-disable" name="data.hito2.value" value="{{data.hito2.value}}"
                    type="text" placeholder="" />
                <input class="input-header hito-disable" name="data.hito3.value" value="{{data.hito3.value}}"
                    type="text" placeholder="" />
                <input class="input-header hito-disable" name="data.hito4.value" value="{{data.hito4.value}}"
                    type="text" placeholder="" />
            </div>
            <div class="section-header">
                <span>{{localize "Hitos.Atributos"}}</span>
            </div>
            <div class="grid-2col atributos-grid">
                {{#each data.atributos as |atributo key| }}
                <div class="row-nw stat-row align-center">
                    <!-- <a class="spent-concept hide"><span class="fa fa-ban" data-atributo={{atributo}}></span></a> -->
                    <span class="label-body col col-xs-3 rollable"
                        data-atributo="{{key}}">{{localize atributo.label}}</span>
                    <input class="input-body col-xs-1" name="data.atributos.{{key}}.value" type="number"
                        value="{{atributo.value}}" />
                    <div class="hito-disable concept-body col col-xs-8" data-edit="data.atributos.{{key}}.concept"
                        contenteditable="true">
                        {{{atributo.concept}}}
                    </div>
                </div>
                {{/each}}
            </div>


            <div class="section-header">
                <span>{{localize "Hitos.Notas"}}</span>
            </div>
            {{editor content=data.notas target="data.notas" button=true
      owner=owner editable=editable}}
        </div>
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div class="column-nw">
                <div class="row-nw section-header col-xs-12">
                    <span class="">{{localize "Hitos.Extras"}}</span>
                </div>
                {{editor content=data.extras target="data.extras" button=true
                owner=owner editable=editable}}
                <!-- <div class="hitos-body" name="data.extras" data-edit="data.extras"
                contenteditable="true">
                {{data.extras}} 
                </div> 
            -->
                              
            </div>
            <ol class="gear-list item-list">
                <ol class="gear-list item-list">
                    <div class="row-nw section-header col-xs-12">
                        <span class="">{{localize "Hitos.Armas"}}</span>
                    </div>
                    {{#each actor.weapon as |item _id|}}
                    <li class="item row-nw" data-item-id="{{item._id}}">
                        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name" data-itemID="{{item._id}}">{{item.name}}</h4>
                        <div class="item-controls"></div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <ol class="gear-list item-list">
                    <div class="row-nw section-header col-xs-12">
                        <span class="">{{localize "Hitos.Armaduras"}}</span>
                    </div>
                    {{#each actor.armor as |item _id|}}
                    <li class="item row-nw" data-item-id="{{item._id}}">
                        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name" data-itemID="{{item._id}}">{{item.name}}</h4>
                        <div class="item-controls"></div>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <div class="row-nw section-header col-xs-12">
                    <span class="">{{localize "Hitos.Inventario"}}</span>
                </div>
                {{#each actor.gear as |item _id|}}
                <li class="item row-nw padding-0" data-item-id="{{item._id}}">
                    <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name" data-itemID="{{item._id}}">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-quantity-plus" title="Edit Item" data-itemID='{{item._id}}'><i class="fas fa-plus"></i></a>
                        <span name="item.data.quantity">{{item.data.quantity}}</span>
                        <a class="item-control item-quantity-minus" title="Delete Item" data-itemID='{{item._id}}'><i class="fas fa-minus"></i></a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>