<div class="hitos chat-message" >
    <div class="row-nw chat-message-title col-xs-12">
        <span>{{title}}</span>
    </div>
    <div class="row-nw">
        <span class="col col-xs-6 padding-l-0"><b>Resultado</b></span>
        <div class="col col-xs-6 text-c"><span>{{total}}</span></div>
    </div> 
    {{#if damage}}
    <div class="row-nw">
        <span class="col col-xs-6 padding-l-0"><b>Daño</b></span>
        <div class="col col-xs-6 text-c"><span>{{damage}}</span></div>
    </div> 
    {{/if}}   
    <div class="grid-2col font-s">
        <span><b>Tirada</b></span>
        <span>{{dices}}</span>
        <span><b>Modificador</b></span>
        <span>{{mods}}</span>
    </div>
    {{#unless damage}}
    <a class="drama-roll font-l" data-actor="{{actor}}" data-roll="{{dices}}" data-mods="{{mods}}"><i class="fas fa-dice"></i></a>
    {{/unless}}     
</div>