<div class="hitos chat-message" >
    <div class="row-nw chat-message-title col-xs-12">
        <span>{{title}}</span>
    </div>
    <div class="row-nw">
        <span class="col col-xs-6 padding-l-0"><b>{{ localize "Hitos.Roll.NuevoResultado" }}</b></span>
        <div class="col col-xs-6 text-c"><span>{{total}}</span></div>
    </div>
    <div class="grid-2col font-s">
        <span><b>{{ localize "Hitos.Roll.Modificador" }}</b></span>
        <span class="chat-tooltip">
            {{mods}}
            <ul class="chat-tooltiptext">
                {{#each modsTooltip as |modTooltip key| }}
                    <li>{{modTooltip}}</li>
                {{/each}}
            </ul>
        </span>
        {{#if damage}}
        <span><b>{{ localize "Hitos.Roll.Dano" }}</b></span>
        <span>{{damage}}</span>
        {{/if}}
        <span><b>{{ localize "Hitos.Roll.TiradaAnterior" }}</b></span>
        <span>{{dicesOld}}</span>
        <span><b>{{ localize "Hitos.Roll.NuevaTirada" }}</b></span>
        <span>{{dices}}</span>
    </div>
    <a class="drama-roll font-l" data-actor="{{actor}}" data-roll="{{dices}}" data-mods="{{mods}}" data-modsTooltip="{{modsTooltip}}" data-weaponDamage="{{weaponDamage}}" data-weaponKindBonus="{{weaponKindBonus}}"><i class="fas fa-dice"></i></a>
</div>
